<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180576682756-rr0ecphdlt8b13th0m6d4m7q2jmjspfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180576682756-rr0ecphdlt8b13th0m6d4m7q2jmjspfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBTc9CSaUMa5PyTNlXQK2YwQCFTVoC6I-0</string>
	<key>GCM_SENDER_ID</key>
	<string>180576682756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterParcial42524572019</string>
	<key>PROJECT_ID</key>
	<string>parcialbd-4256d</string>
	<key>STORAGE_BUCKET</key>
	<string>parcialbd-4256d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180576682756:ios:c1101087e10af3692fc651</string>
</dict>
</plist>